body,
.app {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    position: relative;
    height: 56px;
    align-items: center;
}

.header::after {
    content: "";
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
}

.header .guide-button {
    position: relative;
    margin: 0 1rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header .guide-button div:first-child {
    margin-top: 12px;
}

.header .guide-button div {
    margin: 4px auto;
    width: 16px;
    height: 0.12rem;
    background-color: #A0A0A0;
}

.header .logo {
    margin: 0.2rem 5.4rem 0 0;
    width: 84px;
    height: 24px;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header .search-box {
    display: flex;
    flex-direction: row;
    height: 32px;
}

.header .search-box input {
    padding: 2px 6px;
    width: 578px;
    font-size: 16px;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 24px;
    border: 1px solid #CCC;
    border-right: 0;
    border-radius: 2px 0 0 2px;
}

.header .search-box button {
    width: 65px;
    border: 1px solid #CCC;
    color: #828282;
    background-color: #F8F8F8;
    border-radius: 0 2px 2px 0;
}


/* container */

.container {
    display: flex;
}

.container .content {}