<!DOCTYPE html>
<html lang="en">
    <%- include src/views/shared/head -%>
    <body>
        <div class="app">
            <%- include src/views/components/header -%>
            <%- include src/views/components/container -%>
        </div>
    </body>
    <%- include src/views/shared/footer -%>
</html>