@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/bootstrap";
@import "config/variables";
@import "config/overwrite";
@import "helper/header.scss";
@import "helper/video.scss";
@import "helper/video-info.scss";
body,
.app {
    margin: 0;
    padding: 0;
}