.ad-overlay {
    position: absolute;
    bottom: 135px;
    display: none;
    svg {
        position: absolute;
        right: 6px;
        top: 4px;
        height: 15px;
        width: 15px;
        color: #7A7A7A;
        background-color: #C7C7C6;
        border: 1px solid #6C6E72;
        border-radius: 2px;
        cursor: pointer;
    }
    @media (min-width: 992px) {
        left: 120px;
    }
}

.ad-skip {
    position: absolute;
    bottom: 170px;
    right: 0px;
    .ad-skip-before {
        display: none;
        width: 280px;
        height: 70px;
        background-color: rgba(0, 0, 0, .6);
        div {
            float: left;
            padding-top: 12px;
            width: 50%;
            height: inherit;
            text-align: center;
            span {
                display: block;
                font-size: 15px;
                color: #fff;
                code {
                    margin: 0 4px;
                    color: #fff;
                    font-family: 'Arial';
                }
            }
        }
        img {
            width: 50%;
            height: inherit;
        }
    }
    .ad-skip-after {
        display: none;
        width: 115px;
        height: 44px;
        font-size: 18px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        background-color: rgba(0, 0, 0, .6);
        border-width: 1px 0 1px 1px;
        border-style: solid;
        border-color: #888;
        cursor: pointer;
        svg {
            margin-left: 6px;
            font-size: 12px;
        }
        &:hover {
            border-color: #eee;
        }
    }
}

.ad-display {
    position: relative;
    width: 310px;
    img {
        max-width: 400px;
    }
    svg {
        position: absolute;
        left: 7px;
        top: 2px;
        height: 13px;
        width: 13px;
        color: #1DA9E0;
        background-color: #CBCBCA;
        cursor: pointer;
    }
}

.ad-card {
    position: absolute;
    top: 0;
    right: 0px;
    width: 180px;
    height: 480px;
    color: #eee;
    background-color: rgba(0, 0, 0, .4);
    transition: all .4s ease-in;
    &.close {
        opacity: 0;
        right: -180px;
    }
    .ad-card-head {
        padding: 4px 10px;
        .ad-card-cross {
            opacity: .4;
            float: right;
            line-height: 28px;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
        }
    }
    .ad-card-body {
        overflow-y: auto;
        position: relative;
        padding-top: 10px;
        height: 440px;
        &::-webkit-scrollbar {
            width: 0.6em;
        }
        &::-webkit-scrollbar-track {
            background-color: #424242;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #666;
        }
        .ad-card-item {
            display: block;
            margin: 0 auto 15px;
            width: 85%;
            color: #fff;
            background-color: #fff;
            &:hover {
                text-decoration: none;
                color: #fff;
            }
            .ad-card-img {
                width: 100%;
                height: 90px;
                background-position: center center;
                &[data-src="1"] {
                    background-image: url('https://i.ytimg.com/an_webp/LOII0RU1fw8/mqdefault_6s.webp?du=3000&sqp=CPPpqdUF&rs=AOn4CLDaKOx5XROuxgwIPrKAfCoXDgZGiw');
                }
                &[data-src="2"] {
                    background-image: url('https://i.ytimg.com/an_webp/EDf91kryxvQ/mqdefault_6s.webp?du=3000&sqp=CNzoqdUF&rs=AOn4CLBgplY_DvVqnTuwYaicIwRJIlOX7g');
                }
                &[data-src="3"] {
                    background-image: url('https://i.ytimg.com/an_webp/otmasin3vvg/mqdefault_6s.webp?du=3000&sqp=CPifqtUF&rs=AOn4CLDSW-Xub2_nJ1hoddJpl8-UjA9guA');
                }
            }
            .ad-card-title {
                padding: 4px 8px 0;
                font-size: 12px;
                color: #222;
            }
            .ad-card-owner {
                padding: 2px 8px 4px;
                font-size: 12px;
                color: #444;
            }
        }
    }
}