.navbar {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f2f2f2;
    box-shadow: 2px 2px 2px #fdfdfd;
    @media (min-width: 992px) {
        .guide-button {
            position: relative;
            margin: 0 1rem;
            width: 40px;
            height: 40px;
            cursor: pointer;
            div {
                margin: 4px auto;
                width: 16px;
                height: 0.12rem;
                background-color: #A0A0A0;
                &:first-child {
                    margin-top: 12px;
                }
            }
        }
    }
    .input-group {
        height: 32px;
        @media (min-width: 992px) {
            margin-left: 60px;
            max-width: 656px;
        }
        button {
            width: 65px;
            color: #828282;
            font-size: 14px;
            background-color: #F8F8F8;
            border-radius: 0 2px 2px 0;
            border-color: #ccc;
        }
    }
    .navbar-nav {
        .nav-item {
            margin-right: 10px;
            svg {
                color: #A0A0A0;
                font-size: 18px;
            }
        }
    }
}