.video {
    .video-title {
        margin: 1.4rem 0 0.6rem;
        font-size: 18px;
    }
    .video-views {
        color: #666;
        font-size: 16px;
    }
    .nav {
        .nav-item {
            .nav-link {
                font-size: 14px;
                color: #888;
                svg {
                    margin-right: 4px;
                    font-size: 16px;
                }
                &:hover {
                    color: #222;
                }
            }
        }
    }
}