.video-info {
    .video-avatar {
        margin-right: 10px;
        vertical-align: bottom;
    }
    .video-detail {
        display: inline-block;
    }
    .video-owner {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        svg {
            margin-left: 6px;
            font-size: 8px;
            color: #888;
        }
    }
    .video-date {
        font-size: 14px;
        color: #444;
    }
}