<nav class="navbar navbar-expand-lg navbar-light">
    <a class="guide-button">
        <div></div>
        <div></div>
        <div></div>
    </a>
    <a class="navbar-brand" href="#">
        <img src="/static/img/logo.png" width="80" class="d-inline-block" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="input-group mr-auto">
            <input type="text" class="txt-search form-control" placeholder="搜尋" aria-label="搜尋" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-search" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="fas fa-upload"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-th"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-bell"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">
                    <i class="fas fa-user"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>