<div class="header">
    <a class="guide-button">
        <div></div>
        <div></div>
        <div></div>
    </a>
    <div class="logo"></div>
    <div class="search-box">
        <input type="text" placeholder="搜尋">
        <button type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
    <ul class="nav">
        <li><a href="#"><i class="fas fa-upload"></i></a></li>
        <li><a href="#"><i class="fas fa-th"></i></a></li>
        <li><a href="#"><i class="fas fa-bell"></i></a></li>
        <li><a href="#"><i class="fas fa-user"></i></a></li>
</div>
