<select id="selType" class="custom-select col-sm-2 mb-2">
    <option >影片類型</option>
    <option value="sport" selected>體育</option>
    <option value="travel">旅遊</option>
    <option value="game">電玩</option>
    <option value="makeups">美妝</option>
    <option value="food">美食</option>
    <option value="movie">電影</option>
</select>