<div class="alert alert-primary alert-dismissible fade show" role="alert">
<h4 class="alert-heading">廣告偏好實驗程序說明</h4>
  本實驗將觀看<strong>十分鐘</strong>影片，全程戴上腦波檢測儀器。<br>觀看過程中，廣告將隨機跳出，同時您可以<strong>自由選擇</strong>觀看、點選廣告，或是將廣告略過、關閉。
  <hr>
  感謝您的配合。
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    影片觀看過程中，請勿將影片<strong>全螢幕</strong>，或是更改<strong>影片</strong>、<strong>廣告</strong>類型。
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row mb-4">
  <div class="col-md-6">
    <select class="custom-select selType">
      <option>影片類型</option>
      <option value="sport" selected>體育</option>
      <option value="travel">旅遊</option>
      <option value="game">電玩</option>
      <option value="makeups">美妝</option>
      <option value="food">美食</option>
      <option value="movie">電影</option>
    </select>
  </div>
  <div class="col-md-6">
    <select class="custom-select selAd">
      <option>廣告類型</option>
      <option value="display" selected>媒體廣告</option>
      <option value="overlay">重疊廣告</option>
      <option value="skippable">可略過的影片廣告</option>
      <option value="cards">贊助商資訊卡</option>
    </select>
  </div>

</div>