<div class="video-list">
    <div class="ad-display">
        <a class="ad-display-cross">
            <i title="關閉" atl="關閉" class="fas fa-times"></i>
        </a>
        <a class="ad-display-link" href="#" target="_blank">
            <img src="/static/img/ad/right/game.gif" />
        </a>
    </div>
    <h6 class="mb-3">即將播放</h6>
    <img src="/static/img/list.jpg" alt="假的啦" title="假的啦" />
</div>