<div class="video-info">
    <div class="row">
        <div class="col-md-8">
            <img class="video-avatar rounded-circle" src="/static/img/avatar/game.jpg" width="48" height="48"/>    
            <div class="video-detail">
                <div class="video-owner">DE JuN<i class="fas fa-check-circle"></i></div>
                <div class="video-date">發佈日期：<span>2017年11月10日</span></div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12 h-200">
            <img class="mb-4" src="/static/img/message-head.jpg" alt="假的啦" title="假的啦" />
            <img src="/static/img/message.jpg" alt="假的啦" title="假的啦"/>
        </div>
    </div>
</div>