<div class="video">
    <video id="video" class="video-js" controls preload="auto" width="823" height="480" poster="/static/img/demo1.png" data-setup="{}">
        <source src="/static/video/demo1.mp4" type='video/mp4'>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
    <div class="video-title">風小箏 - 回憶的日記本「記錄著我們的青春。」動態歌詞版MV</div>
    <div class="row">
        <div class="col-md-4">
            <div class="video-views">觀看次數：42,663</div>
        </div>
        <div class="col-md-8">
            <ul class="nav justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-thumbs-up"></i>554</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-thumbs-down"></i>7</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-share"></i>分享</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-plus"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-ellipsis-h"></i></a></li>
            </ul>
        </div>
    </div>
</div>