<div class="video-info">
    <div class="row">
        <div class="col-md-8">
            <a class="avatar" href="#"><img class="rounded-circle" src="/static/img/avatar1.jpg" width="48" height="48"/>
            </a>    
            <div class="video-detail">
                <div class="video-owner">DE JuN<i class="fas fa-check-circle"></i></div>
                <div class="video-date">發佈日期：2017年11月10日</div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>