<div class="video">
    <video id="video" class="video-js" controls preload="auto" height="480" data-setup="{}">
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
    <div class="ad-overlay">
        <a class="ad-overlay-cross">
            <i title="關閉" atl="關閉" class="fas fa-times"></i>
        </a>
        <a class="ad-overlay-link" href="#" target="_blank">
            <img src="/static/img/ad/bottom/movie.jpg" width="554" height="70" />
        </a>
    </div>
    <div class="ad-skip">
        <div class="ad-skip-before">
            <div>
                <span>您可以在<code>5</code>秒後</span>
                <span>略過廣告前往影片</span>
            </div>
            <img src="/static/img/poster/game.jpg">
        </div>
        <div class="ad-skip-after">略過廣告<i class="fas fa-play"></i></div>
    </div>
    <div class="ad-card close">
        <div class="ad-card-head">
            <span>更多資訊</span>
            <a class="ad-card-cross"><i title="關閉" atl="關閉" class="fas fa-times"></i></a>
        </div>
        <div class="ad-card-body">
            <a class="ad-card-item" href="#" target="_blank">
                <div class="ad-card-img" data-src="1"></div>
                <div class="ad-card-title">海草海草舞 x 慢搖逆襲!</div>
                <div class="ad-card-owner">作者：DanceRemix365 中英文慢搖</div>
            </a> 
                <a class="ad-card-item" href="#" target="_blank">
                <div class="ad-card-img" data-src="2"></div>
                <div class="ad-card-title">海草海草舞 x 慢搖逆襲!</div>
                <div class="ad-card-owner">作者：DanceRemix365 中英文慢搖</div>
            </a> 
            <a class="ad-card-item" href="#" target="_blank">
                <div class="ad-card-img" data-src="3"></div>
                <div class="ad-card-title">海草海草舞 x 慢搖逆襲!</div>
                <div class="ad-card-owner">作者：DanceRemix365 中英文慢搖</div>
            </a> 
        </div>
    </div>
    <div class="video-title">【DE JuN】絕地求生刺客流!!※平底鍋殺手 #1</div>
    <div class="row">
        <div class="col-md-4">
            <div class="video-views">觀看次數：
                <span>1,678,007</span>
            </div>
        </div>
        <div class="col-md-8">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-thumbs-up"></i>1.2萬</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-thumbs-down"></i>511</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-share"></i>分享</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>